<template>
    <div :class="{'hcFull':fullscreen}" :style="bcg">
        <slot></slot>
    </div>
</template>

<script>
    export default{
        name: "hcFullscreen",
        model: {
            prop: "value",
            event: "change"
        },
        props: {
            value: {
                type: Boolean,
                default: false,
            },
            background: {
                type: String,
                default: 'white',
            }
        },
        computed: {
            fullscreen: {
                get(){
                    return this.value;
                },
                set(val){
                    this.$emit('change',val);
                },
            },
            bcg(){
                return this.fullscreen ? 'background:'+this.background : "";
            },
        },
        methods: {
            toggle(){
                if (!this.fullscreen) {
                    let el = document;
                    if (el.cancelFullScreen) el.cancelFullScreen();
                    else if (el.mozCancelFullScreen) el.mozCancelFullScreen();
                    else if (el.webkitCancelFullScreen) el.webkitCancelFullScreen();
                    else if (el.exitFullScreen) el.exitFullScreen();
                    document.body.style.overflowY = "auto";
                }else{
                    let el = document.documentElement;
                    if (el.webkitRequestFullscreen) el.webkitRequestFullscreen();
                    else if (el.mozRequestFullScreen) el.mozRequestFullScreen();
                    else if (el.msRequestFullscreen) el.msRequestFullscreen();
                    else if (el.requestFullscreen) el.requestFullscreen();
                    document.body.style.overflowY = "hidden";
                    this.fullscreen = true;
                }
            },
            eventFull(){
                if (!document.fullscreenElement) this.fullscreen = false;
            },
        },
        watch: {
            fullscreen(){
                this.toggle();
            }
        },
        mounted() {
            window.addEventListener('fullscreenchange', this.eventFull);
            window.addEventListener('mozfullscreenchange', this.eventFull);
            window.addEventListener('webkitfullscreenchange', this.eventFull);
            window.addEventListener('msfullscreenchange', this.eventFull);
            if (this.fullscreen) this.fullscreen=false;
        },
        beforeDestroy() {
            window.removeEventListener('fullscreenchange', this.eventFull);
            window.removeEventListener('mozfullscreenchange', this.eventFull);
            window.removeEventListener('webkitfullscreenchange', this.eventFull);
            window.removeEventListener('msfullscreenchange', this.eventFull);
        }
    }
</script>

<style>
    .hcFull{
        position: fixed !important;
        width: auto !important;
        height: auto !important;
        top:0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        z-index: 100 !important;
    }
</style>