/*resultList*/
.hc_audit_all .hc_row{
    display: flex;
    /*margin: 0 -8px;*/
    height:100%;
    flex-direction:row-reverse;
}
.hc_audit_all .hc_col{
    flex-grow: 1;
    height: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /*padding: 0 8px;*/
}
.hc_audit_all .hc_left_col{
    min-width: 60%;
}
.hc_audit_all .hc_right_col{
    min-width: 40%;
}
.hc_audit_all .hc_col_box{
    position:relative;
    height: 100%;
    overflow: hidden;
}
.hc_audit_all .hc_line_result:hover{
    background: #f9f9f9;
}
.hc_audit_all .anim_rot {
    animation-name: rot;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
}
.hc_audit_all .hc_my_tr{
    /*border-top: 1px solid #e0e0e0;*/
    /*border-bottom: 1px solid #e0e0e0;*/
}
.hc_audit_all tr+.hc_my_tr{
    /*border:none;*/
}
.hc_audit_all .hc_my_tr:nth-last-child(2){
    /*border-bottom: 1px solid #e0e0e0;*/
}
@keyframes rot {
    100% {
        transform: rotate(-360deg);
    }
}
@media only screen and (max-width : 1199px){
    .hc_audit_all .hc_row{
        flex-direction:column;
    }
    .hc_audit_all .hc_col{
        min-height: auto;
    }
    .hc_audit_all .hc_left_col{
        max-height: 40%;
        /*margin-bottom: 16px;*/
    }
}
@media only screen and (max-width : 599px){
    thead{
        display: none;
    }
}
/*answerList*/
.hc_audit_all .hc_disabled_skin{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.hc_audit_all .my_snackbar .v-snack__wrapper{
    min-width: 0 !important;
}