<template>
    <v-app>
        <v-snackbar class="hc_my_snackbar" :color="colorNotice" right top v-model="notice">
            {{ textNotice }}
            <template v-slot:action="{ attrs }">
                <v-btn dark icon @click="notice = false" v-bind="attrs">
                    <v-icon small>mdi-close</v-icon>
                </v-btn>
            </template>
        </v-snackbar>
        <v-container v-if="!autoAuth" class="d-flex flex-column justify-center align-center" style="height: 100%;">
            <div class="subtitle-1 text-center mb-3">Авторизация</div>
            <v-progress-linear
                    color="deep-purple accent-4"
                    indeterminate
                    rounded
                    height="6"
                    style="width:100%;max-width: 200px;"
            ></v-progress-linear>
        </v-container>
        <auth v-else-if="!auth" :api="api" v-model="auth" @message="message" @authServer="authServer"/>
        <template v-else>
            <v-app-bar dense v-if="!noHeader" app color="primary" dark>
                <v-toolbar-title>Аудит</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click="exit" icon title="Выход">
                    <v-icon>mdi-logout</v-icon>
                </v-btn>
            </v-app-bar>
            <v-main>
                <v-container v-if="lock" fluid class="d-flex justify-center align-center text-center" style="height: 100%;">
                    <div>
                        <v-icon size="100">mdi-lock</v-icon>
                        <h1>Система заблокирована</h1>
                        <p v-if="lockAccess">Проект не доступен вашей компании...</p>
                        <p v-else>Недостаточно средств на балансе...</p>
                    </div>
                </v-container>
                <hc-fullscreen
                        v-else
                        style="height: 100%;position: relative;"
                        v-model="auditfull"
                >
                    <v-btn @click="auditfull=!auditfull" icon style="position: absolute;right: 5px;top:6px;z-index: 1;">
                        <v-icon>{{auditfull ? 'mdi-fullscreen-exit' : 'mdi-fullscreen'}}</v-icon>
                    </v-btn>
                    <hc-audit :idProject="idProject"/>
                </hc-fullscreen>
            </v-main>
        </template>
    </v-app>
</template>

<script>
    import auth from "./comp/auth";

    export default {
        components: {
            auth,
        },
        data() {
            return {
                // api: 'http://regapi:8083',
                api: this.$store.state.api.urlAuth,
                colorNotice: 'error',
                textNotice: '',
                notice: false,
                auth: false,
                autoAuth: false,
                //idProject: null,
                loadTest: false,
                noHeader: false,
                auditfull: false,
            };
        },
        mounted() {
            let get = window.location.hash.split('?')[1];
            if (get) {
                let getObj = this.getToObject(get);
                if (getObj.noHeader == 'true') this.noHeader = true;
                if (getObj.auth) localStorage.setItem('auth', getObj.auth);
            }
            this.testAuth(true);
            setInterval(() => this.testAuth(), 30000);
        },
        computed: {
            idProject() {
                return this.$store.state.auth.info.companyID;
            },
            access() {
                return (this.auth) ? this.$store.state.auth.info.access : 0;
            },
            lockAccess(){
                return !this.$store.state.auth.access.some(i=>i.name=='Audits');
            },
            lock() {
                return this.access < 3 && (this.lockBilling || this.lockAccess);
            },
            lockBilling(){
                return this.$store.state.auth.info.lock == '1';
            },
        },
        watch: {},
        methods: {
            authServer() {
                localStorage.startApi = JSON.stringify(Object.values(this.$store.state.api));
            },
            testAuth(start = false) {
                if (localStorage.auth) {
                    if(start)this.authServer();
                    if (navigator.onLine) {
                        if (!this.loadTest) {
                            this.loadTest = true;
                            this.$post(this.api, {
                                rout: "auth",
                                func: "testAuth",
                            }).then(json => {
                                //console.log(json);
                                if (!start && !localStorage.auth) return false;
                                if (json.auth) {
                                    //if(json.HCSSID)sessionStorage.HCSSID = json.HCSSID;
                                    if (json.info) {
                                        localStorage.setItem("auth", JSON.stringify(json));
                                        this.$store.dispatch('set', {prop: "auth", value: json});
                                        this.authServer();
                                    } else if (start) {
                                        this.$store.dispatch('set', {
                                            prop: "auth",
                                            value: JSON.parse(localStorage.auth)
                                        });
                                    }
                                    this.auth = true;
                                } else {
                                    this.resetUser();
                                }
                                this.autoAuth = true;
                            }).catch(error => {
                                console.log("Ошибка ответа сервера!", error);
                                if (start) this.$message('Ошибка ответа сервера!');
                            }).finally(() => {
                                this.loadTest = false;
                            });
                        }
                    } else if (start) {
                        this.$message('Нет сети!');
                    }
                } else {
                    this.autoAuth = true;
                    this.auth = false;
                }
            },
            message(text, color = 'error') {
                this.textNotice = text;
                this.colorNotice = color;
                this.notice = true;
            },
            exit() {
                if (confirm("Вы действительно хотите выйти из аккаунта?")) {
                    this.resetUser();
                }
            },
            resetUser() {
                localStorage.removeItem("auth");
                this.auth = false;
            },
            getToObject(get) {
                let arr = get.split('&');
                let obj = {};
                for (let key in arr) {
                    let elem = arr[key].split('=');
                    obj[elem[0]] = decodeURIComponent(elem[1]);
                }
                return obj;
            },
        },
    }
</script>

<style>
    html {
        overflow-y: auto !important;
    }

    .hc_my_snackbar .v-snack__wrapper {
        min-width: 0 !important;
    }

    .v-data-table > .v-data-table__wrapper .v-data-table__mobile-row {
        min-height: 0px !important;
        padding-bottom: 10px;
    }

    .v-data-table > .v-data-table__wrapper .v-data-table__mobile-row:first-child {
        padding-top: 10px;
    }

    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
        background-color: #f9f9fd;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #B0BEC5;
    }

    .splitpanes__pane {
        -webkit-transition: none !important;
        transition: none !important;
    }
    .splitpanes--vertical > .splitpanes__splitter {
        min-width: 2px !important;
        background: #eee;
        position: relative;
    }
    .splitpanes--horizontal > .splitpanes__splitter {
        min-height: 2px !important;
        background: #eee;
        position: relative;
    }
    .splitpanes--vertical > .splitpanes__splitter:before,
    .splitpanes--vertical > .splitpanes__splitter:after {
        content: '';
        position: absolute;
        top: 0;
        width: 4px;
        height: 100%;
        z-index: 1;
    }
    .splitpanes--vertical > .splitpanes__splitter:before {
        left: 0;
    }
    .splitpanes--vertical > .splitpanes__splitter:after {
        right: 0;
    }
    .splitpanes--horizontal > .splitpanes__splitter:before,
    .splitpanes--horizontal > .splitpanes__splitter:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        z-index: 1;
    }
    .splitpanes--horizontal > .splitpanes__splitter:before {
        top: 0;
    }
    .splitpanes--horizontal > .splitpanes__splitter:after {
        bottom: 0;
    }

    .hc_split_mobile .splitpanes__splitter{
        display: none;
    }
    .hc_split_mobile{
        flex-direction: column-reverse !important;
    }
</style>
